<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">

      <form action="/search" method="GET">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">

            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
      </form>

      <div class="dropdown col-3 d-flex align-items-end justify-content-end btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">篩選器</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/sort/nameasc">A→Z</a>
          <a class="dropdown-item" href="/sort/namedesc">Z→A</a>
          <a class="dropdown-item" href="/sort/category">依類別</a>
          <a class="dropdown-item" href="/sort/rating">評價由高到低</a>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="col-8 m-auto">
  <a href="/restaurant/new" class="btn btn-success btn-block btn-lg mt-4 ">Create</a>
</div>



<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{!-- display --}}
        {{#each restaurants}}
        <a href="/restaurant/{{this.id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>

            <div class="card-footer text-light" style="text-align: center">
              <a href="/restaurant/{{this.id}}/edit" class="btn btn-primary mr-2 mb-2">Edit</a>
              <form action="/restaurant/{{this.id}}/delete?_method=DELETE" method="POST" style="display:inline">
                <button type="submit" class="btn btn-danger mb-2">Delete</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
        {{!-- end --}}
      </div>
    </div>
  </div>
</div>